{% extends "master.html.twig" %}

{% block title %}Specialit's List{% endblock %}
{% block matchpwd %}
    <!--<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

{% endblock %}
{% block css %} 
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css">
{% endblock %}

{% block content %}
    <div class="col-sm-6">  

        <p><img src="{{dr.pathImage}}" width="100" height="100" alt="{{dr.firstName }}{{dr.lastName }}" class="img-circle img-responsive">
        </p>
        <p>{{dr[id]}}</p>
        <p>NAMe {{dr.firstName}}{{dr.lastName}}</p>
        <p>Description: {{dr.description}}</p>       

    </div>
    <div class="col-sm-6">  
        <p>available Time</p>
        
            {% for d in date %}
            
                <span style="padding: 5">{{d.dayOfWeek}} {{d.month}} {{d.day}}</span>
            
            {% endfor %}
           </div>

{% endblock %}