
    <div id="viewSchedule">
        <p>{{ datelist }}</p>
       <p>{{ firstday[0] }}</p>
       <form>
        {% for day in range(0, datelist-1 ) %}
            {% if day == 7 or day == 14 or day == 21 or day ==28 %}
                <br>
            {% endif %}
            <div class="drschedule">
            <label> {{ firstday[day] }} {{ day+1 }} </label><br>
            <input type="checkbox" name="doctorwork{{ day+1 }}" value="true">
            </div>
            {% endfor %}

       </form>
    </div>
    