
<div id="viewSchedule">
    <p>{{ datelist }}</p>
    <p>{{ firstday[0] }}</p>
    <form action="/myschedule/{{ date }}/{{ doctorId }}" class="form-horizontal" method="Post">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="id" value="{{ doctorId }}">
        <input type="submit" value="save">
        {% for day in range(0, datelist-1 ) %}
            {% if day ==0 or day == 7 or day == 14 or day == 21 or day ==28 %}
                <div class="row">
                {% endif %}

                <div class="col-sm-1">
                    <div class="input-group">
                        <span class="input-group-addon"></span>
                        <label class="form-control form-horizontal">{{ firstday[day] }}&nbsp;{{ day+1 }}</label>
                        <label class="form-check-label form-horizontal">Available
                            <input class="form-control form-check-input" name="doctorAvailable{{ day+1 }}" id="doctorAvailable{{ day+1 }}" type="checkbox" name="doctorwork{{ day+1 }}" value="true" checked></label>
                        <div class="inform-inline">
                             <label for="startTime" class="form-horizontal">Start
                            <select class="form-control" name ="doctorStart{{ day+1 }}" id="doctorStart{{ day+1 }}}}" class="startTime">
                                <option value="8:00" selected>8:00</option>
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                            </select></label>
                            <label for="endTime" class="form-horizontal">End
                            <select class="form-control" name="doctorEnd{{ day+1 }}" id="doctorEnd{{ day+1 }}}}" class="endTime">
                                <option value="9:00">9:00</option>
                                <option value="10:00">10:00</option>
                                <option value="11:00">11:00</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="14:00">14:00</option>
                                <option value="15:00">15:00</option>
                                <option value="16:00">16:00</option>
                                <option value="17:00">17:00</option>
                                <option value="18:00">18:00</option>
                                <option value="19:00">19:00</option>
                                <option value="20:00"selected>20:00</option>
                            </select></label>     
                        </div>
                    </div>
                </div>
                {% if day ==6 or day == 13 or day == 20 or day == 27 or day == datelist-1 %}
                </div>
            {% endif %}
        {% endfor %}

    </form>
</div>

